body {
    
    background: plum;
   
}
#cabecalho {
    background: plum;
    align-content: center;
    justify-content: center;
    display: flex;
}

input {
    padding: 10px;
    width: 100px;
    border: 1px solid plum;
    border-radius: 10px;
    margin-right: 10px;
}

.tarefa {
    background: plum;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    border-radius: 10px;
    margin-right: 25px;
}

#adicionar-filtro {
    background: plum;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.lista {
    background: plum;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.button {
    background: plum;
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.final {
    background: plum;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.semifinal {
    background: plum;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}